<!DOCTYPE html>
<html>
<head>
  <title>Confessions Anonymes</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Bienvenue sur le site de confessions anonymes</h1>
    <p style="text-align:center; margin-top:20px;">
      <a href="/auth/discord">
        <button>Se connecter avec Discord</button>
      </a>
    </p>
  </div>
</body>
</html>
